@use "../abstracts/variables";
@use "../abstracts/mixins";

.card {
    // FUNCTIONALITY
    perspective: 150rem; // this only works on the child element, so we need a new div .card__side
    -moz-perspective: 150rem; // firefox
    position: relative;
    height: 52rem; // add height for perspective; needs to be the same as child height

    &__side {
        height: 52rem;
        transition: all 0.8s ease;
        position: absolute; // takes cards out of the natural flow, loses perspective; solution: parent needs same height
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden; // hides the back-part of element (we don't see inverted text)
        border-radius: 3px;
        overflow: hidden; // so that the image doesn't cover the border-radius
        box-shadow: 0 1.5rem 4rem rgba(variables.$color-black, 0.15);

        &--front {
            background-color: variables.$color-white;
        }

        &--back {
            transform: rotateY(180deg);
            // control rotation direction
            // back side is already flipped before hover

            &-1 {
                background-image: linear-gradient(
                    to right bottom,
                    variables.$color-secondary-light,
                    variables.$color-secondary-dark
                );
            }

            &-2 {
                background-image: linear-gradient(
                    to right bottom,
                    variables.$color-primary-light,
                    variables.$color-primary-dark
                );
            }

            &-3 {
                background-image: linear-gradient(
                    to right bottom,
                    variables.$color-tertiary-light,
                    variables.$color-tertiary-dark
                );
            }
        }
    }

    &:hover &__side--front {
        // when we hover over card, the card__side--front transforms
        transform: rotateY(-180deg);
        // control rotation direction
    }

    &:hover &__side--back {
        // when we hover over card, the card__side--back transforms
        transform: rotateY(0deg); // from 180deg back to 0deg
    }

    //FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen; // only on chrome, safari, and firefox
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; // these are set because the clip-path takes away the overflow: hidden causing hard edges

        &--1 {
            background-image: linear-gradient(
                    to right bottom,
                    variables.$color-secondary-light,
                    variables.$color-secondary-dark
                ),
                url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(
                    to right bottom,
                    variables.$color-primary-light,
                    variables.$color-primary-dark
                ),
                url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(
                    to right bottom,
                    variables.$color-tertiary-light,
                    variables.$color-tertiary-dark
                ),
                url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: variables.$color-white;

        position: absolute;
        top: 12rem;
        right: 2rem;

        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone; // this treats each of the separated lines as its own element having its own properties (padding), otherwise the padding is strange

        &--1 {
            background-image: linear-gradient(
                to right bottom,
                rgba(variables.$color-secondary-light, 0.85),
                rgba(variables.$color-secondary-dark, 0.85)
            );
        }

        &--2 {
            background-image: linear-gradient(
                to right bottom,
                rgba(variables.$color-primary-light, 0.85),
                rgba(variables.$color-primary-dark, 0.85)
            );
        }

        &--3 {
            background-image: linear-gradient(
                to right bottom,
                rgba(variables.$color-tertiary-light, 0.85),
                rgba(variables.$color-tertiary-dark, 0.85)
            );
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid variables.$color-grey-light-2;
                }
            }
        }
    }

    // BACK SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        margin-bottom: 8rem;
        color: variables.$color-white;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    @include mixins.respond(tab-port) {
        height: auto;
        border-radius: 3px;
        background-color: variables.$color-white;
        box-shadow: 0 1.5rem 4rem rgba(variables.$color-black, 0.15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            // when we hover over card, the card__side--front transforms
            transform: rotateY(0);
            // control rotation direction
        }

        &__details {
            padding: 1rem 3rem;
        }

        //FRONT SIDE STYLING
        &__cta {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-only {
            font-size: 1.4rem;
        }

        &__price-value {
            font-size: 4rem;
        }
    }
}
