@use '../abstracts/variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  // this defines what 1rem is
  // @at-root to a percentage for user settings; we get this percentage because we wanted 10px to be the default and 16px is the browser default, so 10/16.
  // always start with 10px and then set the other values to base-10 rem; change to percentage whenever.
}

body {
  box-sizing: border-box;
}
